{{ template "base" .}} {{ define "title" }} List Service {{ end }} {{ define
"css" }} {{ end }} {{ define "content" }}
<!-- Sign up page  -->

<div class="ms-all-content ms-all-content-space">
  <!-- Join Area Start Here  -->
  <section class="ms-join-area p-relative">
    <div class="ms-join-position p-absolute text-center">
      <h2 class="ms-title2 white-text">List Your Service</h2>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="ms-join-wrap ms-join-space mb-70 ms-bg-2">
            <h3 class="white-text ms-title3 mb-30">
              Fill the form below with your acurate details
            </h3>

            <form action="/user/list-service" method="post">
              <div class="row">
                <div class="col-lg-6">
                  <div class="ms-input-box style-2">
                    <label for="artist_name">Artist/Group Name</label>
                    <input
                      type="text"
                      placeholder="Sun Sing Crew"
                      class='form-control {{with .Form.Errors.Get
                      "artist_name"}} is-invalid {{end}}'
                      id="artist_name"
                      name="artist_name"
                      value='{{index .StringMap "artist_name"}}'
                      required
                    />
                    <div class="invalid-feedback">
                      {{with .Form.Errors.Get "artist_name"}} {{.}} {{end}}
                    </div>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="ms-input-box style-2">
                    <label for="genres">Genres</label>
                    <input
                      type="text"
                      placeholder="genres"
                      class='form-control {{with .Form.Errors.Get
                      "genres"}} is-invalid {{end}}'
                      id="genres"
                      name="genres"
                      value='{{index .StringMap "genres"}}'
                      required
                    />

                    <div class="invalid-feedback">
                      {{with .Form.Errors.Get "genres"}} {{.}} {{end}}
                    </div>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="ms-input-box style-2">
                    <label for="phone">Phone</label>
                    <input
                      type="text"
                      placeholder="0803333444"
                      class='form-control {{with .Form.Errors.Get
                      "phone"}} is-invalid {{end}}'
                      id="phone"
                      name="phone"
                      value='{{index .StringMap "phone"}}'
                      required
                    />

                    <div class="invalid-feedback">
                      {{with .Form.Errors.Get "phone"}} {{.}} {{end}}
                    </div>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="ms-input-box style-2">
                    <label for="email">Email</label>
                    <input
                      type="email"
                      placeholder="jon@doh.com"
                      class='form-control {{with .Form.Errors.Get
                      "email"}} is-invalid {{end}}'
                      id="email"
                      name="email"
                      value='{{index .StringMap "email"}}'
                      required
                    />

                    <div class="invalid-feedback">
                      {{with .Form.Errors.Get "email"}} {{.}} {{end}}
                    </div>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="ms-input-box style-2">
                    <label for="city">City</label>
                    <input
                      type="text"
                      placeholder="Lagos"
                      class='form-control {{with .Form.Errors.Get
                      "city"}} is-invalid {{end}}'
                      id="city"
                      name="city"
                      value='{{index .StringMap "city"}}'
                      required
                    />

                    <div class="invalid-feedback">
                      {{with .Form.Errors.Get "city"}} {{.}} {{end}}
                    </div>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="ms-input-box style-2">
                    <label for="facebook">Facebook</label>
                    <input
                      type="text"
                      placeholder="Lagos"
                      class='form-control {{with .Form.Errors.Get
                      "facebook"}} is-invalid {{end}}'
                      id="facebook"
                      name="facebook"
                      value='{{index .StringMap "facebook"}}'
                      required
                    />

                    <div class="invalid-feedback">
                      {{with .Form.Errors.Get "facebook"}} {{.}} {{end}}
                    </div>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="ms-input-box style-2">
                    <label for="twitter">Twitter</label>
                    <input
                      type="text"
                      placeholder="Lagos"
                      class='form-control {{with .Form.Errors.Get
                      "twitter"}} is-invalid {{end}}'
                      id="twitter"
                      name="twitter"
                      value='{{index .StringMap "twitter"}}'
                      required
                    />

                    <div class="invalid-feedback">
                      {{with .Form.Errors.Get "twitter"}} {{.}} {{end}}
                    </div>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="ms-input-box style-2">
                    <label for="youtube">Youtube</label>
                    <input
                      type="text"
                      placeholder="Lagos"
                      class='form-control {{with .Form.Errors.Get
                      "youtube"}} is-invalid {{end}}'
                      id="youtube"
                      name="youtube"
                      value='{{index .StringMap "youtube"}}'
                      required
                    />

                    <div class="invalid-feedback">
                      {{with .Form.Errors.Get "youtube"}} {{.}} {{end}}
                    </div>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="ms-input-box-file style-2">
                    <label for="banner">Attach Logo</label>
                    <div class="ms-upload-img">
                      <div class="ms-upload-item ms-br-15">
                        <img
                          src="/static/client/img/about/about1.png"
                          alt="uploaded image"
                        />
                      </div>
                      <div class="ms-upload-file">
                        <input type="file" />
                        <i class="fas fa-plus"></i>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="ms-input-box-file style-2">
                    <label>Banner</label>
                    <div class="ms-upload-img">
                      <div class="ms-upload-item ms-br-15">
                        <img
                          src="assets/img/genres/genres-01.jpg"
                          alt="uploaded image"
                        />
                      </div>
                      <div class="ms-upload-file">
                        <input type="file" />
                        <i class="fas fa-plus"></i>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="ms-input-box-file style-2">
                    <label>Featured Image</label>
                    <div class="ms-upload-img">
                      <div class="ms-upload-item ms-br-15">
                        <img
                          src="assets/img/genres/genres-01.jpg"
                          alt="uploaded image"
                        />
                      </div>
                      <div class="ms-upload-file">
                        <input type="file" />
                        <i class="fas fa-plus"></i>
                      </div>
                    </div>
                  </div>
                </div>

                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />

                <div class="col-lg-12">
                  <div class="ms-submit-btn mt-20">
                    <button class="unfill__btn" type="submit">
                      Create Account
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Join Area End Here  -->
</div>

{{ end }} {{define "js"}} {{end}}
