{{ template "base" .}} {{ define "title" }} Login {{ end }} {{ define "css" }}
{{ end }} {{ define "content" }}
<!-- Sign up page  -->

<div class="ms-all-content ms-all-content-space">
  <!-- Join Area Start Here  -->
  <section class="ms-join-area p-relative">
    <div class="ms-join-position p-absolute text-center">
      <h2 class="ms-title2 white-text">Join Us</h2>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="ms-join-wrap ms-join-space mb-70 ms-bg-2">
            <h3 class="white-text ms-title3 mb-30">Add Your Information</h3>
            <form action="/user/signup" method="post" novalidate>
              <div class="row">
                <div class="col-lg-6">
                  <div class="ms-input-box style-2">
                    <label>First Name</label>
                    <input type="text" placeholder="NIck Jonas" />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="ms-input-box style-2">
                    <label>Last Name</label>
                    <input type="text" placeholder="Haiden" />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="ms-input-box style-2">
                    <label>Agency Name *</label>
                    <input
                      type="text"
                      placeholder="Soul Graffiti Entertainment"
                    />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="ms-input-box style-2">
                    <label>Service Type *</label>
                    <select class="ms-nice-select">
                      <option>Tidal</option>
                      <option>Deezer</option>
                      <option>Spotify</option>
                      <option>iHeartRadio</option>
                      <option>YouTube Music</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="ms-input-box style-2">
                    <label>Service Category *</label>
                    <select class="ms-nice-select">
                      <option>Glastonbury Singer</option>
                      <option>Tomorrowland Singer</option>
                      <option>Coachella Singer</option>
                      <option>Concert Singer</option>
                      <option>Open Stage Singer</option>
                      <option>Wedding Party Singer</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="ms-input-box style-2">
                    <label>Starting From</label>
                    <select class="ms-nice-select">
                      <option>$125</option>
                      <option>$150</option>
                      <option>$175</option>
                      <option>$200</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="ms-input-box style-2">
                    <label>Total Team Member</label>
                    <select class="ms-nice-select">
                      <option>15</option>
                      <option>20</option>
                      <option>25</option>
                      <option>30</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="ms-input-box style-2">
                    <label>Location</label>
                    <select class="ms-nice-select">
                      <option>Oregon City</option>
                      <option>Chicago</option>
                      <option>Ohio</option>
                      <option>London</option>
                      <option>Kenia</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="ms-input-box style-2">
                    <label>About Agency</label>
                    <textarea
                      cols="30"
                      rows="10"
                      placeholder="We do not charge for leads. The only money you’ll..."
                    ></textarea>
                  </div>
                </div>

                <!-- <div class="col-lg-12">
                  <div class="ms-input-box-file style-2">
                    <label>Attach Cover Photo</label>
                    <div class="ms-upload-img">
                      <div class="ms-upload-item ms-br-15">
                        <img
                          src="assets/img/genres/genres-01.jpg"
                          alt="uploaded image"
                        />
                      </div>
                      <div class="ms-upload-file">
                        <input type="file" />
                        <i class="fas fa-plus"></i>
                      </div>
                    </div>
                  </div>
                </div> -->

                <div class="col-lg-12">
                  <div class="ms-submit-btn mt-20">
                    <button class="unfill__btn" type="submit">
                      Create Account
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Join Area End Here  -->
</div>

{{ end }}
